{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "react-hooks",
    "@typescript-eslint"
  ],
  "rules": { 
    "indent": "off",
    "@typescript-eslint/indent": ["error", "tab"],
    "no-tabs": 0,
    "no-unused-vars":"warn",
    //"@typescript-eslint/"
    "no-restricted-imports":"warn",
    "react/jsx-closing-bracket-location": ["warn", "after-props"],
    "semi": "off",
    "react/jsx-first-prop-new-line": ["error", "never"],
    "react/jsx-curly-newline": ["error", { 
      "multiline": "consistent", 
      "singleline": "consistent" 
    }],
    "react/jsx-props-no-multi-spaces": ["warn"],
    "react/jsx-tag-spacing": ["warn"],
    "react/jsx-curly-spacing": ["warn", "always"],
    "object-curly-spacing": ["warn", "always"], 
    "array-bracket-spacing": ["warn", "always"], 
    "computed-property-spacing": ["warn", "always"],
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "semi-style": [
      "error",
      "last"
    ],
    "array-element-newline": "off",
    "keyword-spacing": [
      "error",
      {
        "before": true
      }
    ],
    "space-before-blocks": [
      "warn",
      "always"
    ],
    "prefer-const": "warn",
    "no-control-regex": "off",
    "no-empty": "off",
    "no-var": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-mixed-spaces-and-tabs": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "off",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
