$ribbon-border-size: 3px !default;
$ribbon-line-height: 100% !default;
$ribbon-padding: 0.375rem 0 !default;
$ribbon-font-size: 0.8rem !default;
$ribbon-width: 150px !default;
$ribbon-wrapper-size: 70px !default;
$ribbon-top: 15px !default;
$ribbon-right: 30px !default;
$ribbon-lg-wrapper-size: 120px !default;
$ribbon-lg-width: 160px !default;
$ribbon-lg-top: 26px !default;
$ribbon-lg-right: 0 !default;
$ribbon-xl-wrapper-size: 180px !default;
$ribbon-xl-width: 240px !default;
$ribbon-xl-top: 47px !default;
$ribbon-xl-right: 4px !default;

.ribbon-wrapper {
  height: $ribbon-wrapper-size;
  overflow: hidden;
  position: absolute;
  right: -2px;
  top: -2px;
  width: $ribbon-wrapper-size;
  z-index: 0;

  &.ribbon-lg {
    height: $ribbon-lg-wrapper-size;
    width: $ribbon-lg-wrapper-size;

    .ribbon {
      right: $ribbon-lg-right;
      top: $ribbon-lg-top;
      width: $ribbon-lg-width;
    }
  }

  &.ribbon-xl {
    height: $ribbon-xl-wrapper-size;
    width: $ribbon-xl-wrapper-size;

    .ribbon {
      right: $ribbon-xl-right;
      top: $ribbon-xl-top;
      width: $ribbon-xl-width;
    }
  }

  .ribbon {
    box-shadow: 0 0 $ribbon-border-size rgba(0, 0, 0, 0.3);
    font-size: $ribbon-font-size;
    line-height: $ribbon-line-height;
    padding: $ribbon-padding;
    position: relative;
    right: $ribbon-right;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    top: $ribbon-top;
    transform: rotate(45deg);
    width: $ribbon-width;

    &::before,
    &::after {
      border-left: $ribbon-border-size solid transparent;
      border-right: $ribbon-border-size solid transparent;
      border-top: $ribbon-border-size solid #9e9e9e;
      bottom: -$ribbon-border-size;
      content: "";
      position: absolute;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
